@import "tailwindcss";

/* Casta Font */
@font-face {
  font-family: 'Casta';
  src:
       url('/fonts/Casta-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Lato Font (if needed) */
@font-face {
  font-family: 'Lato-light';
  src: 
       url('/fonts/Lato-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Lato-regular';
    src: 
         url('/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }